<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <section
            *ngIf="errorMessage === 'Error al enviar el correo electrónico de restablecimiento de contraseña.'"
            class="alert alert-danger"
            role="alert"
          >
            {{ errorMessage }}
          </section>
    
          <section
            *ngIf="succesfullMessage === 'Correo electrónico de restablecimiento de contraseña enviado.'"
            class="alert alert-success"
            role="alert"
          >
            {{ succesfullMessage }}
          </section>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4 mt-3 text-center">Cambiar Contraseña</h2>
                    <form (submit)="sendPasswordResetEmail()">
                        <!-- Omitir el campo de entrada de correo electrónico -->
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary">Enviar correo electrónico de restablecimiento de contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
