<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4 mt-3 text-center">Cambiar Contraseña</h2>
                    <form class="needs-validation">
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="oldPassword" class="form-label">Contraseña Anterior</label>
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" placeholder="Ingrese su contraseña anterior" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col">
                                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="Ingrese su nueva contraseña" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col">
                                <label for="confirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirme su nueva contraseña" required>
                            </div>
                        </div>

                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
