/* styles.css */
.content-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%; /* Ocupa el 100% de la altura disponible */
    display: flex;
    flex-direction: column;
  }
  .card-img-top {
    height: 150px; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover; /* Esto ayuda a cubrir el espacio asignado manteniendo la proporción de la imagen */
  }
  .star-rating {
    color: gold; /* Puedes ajustar el color aquí */
    font-size: 24px; /* Puedes ajustar el tamaño aquí */
  }
  .star-filled::before {
    content: "\2605"; /* Carácter Unicode para la estrella rellena */
  }
