<div class="container-fluid mt-4">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="content-container">
            <h2>{{ nombreActual }}</h2>
            <p>{{ parrafoActual }}</p>
            <button class="btn btn-primary" (click)="verOfertaCarousel(currentIndex)">+info</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-container p-4">
            <div class="carousel slide" id="myCarousel" (slide.bs.carousel)="actualizarContenido($event)">
              <div class="carousel-inner">
                <!-- Utiliza *ngFor para recorrer el arreglo imagenes y mostrar las imágenes del carrusel -->
                <div class="carousel-item" *ngFor="let imagen of imagenes; let i = index" [class.active]="i === 0">
                  <!-- Aquí establece la ruta de la imagen dinámicamente -->
                  <img class="d-block w-100" [src]="imagen.ruta" [alt]="'Imagen ' + (i + 1)">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <h3 class="w-100 text-left mb-4">DESTACADOS</h3>
    <!-- Utiliza ngFor para recorrer los últimos 5 lugares del arreglo lugares -->
    <div class="col-md-3 col-sm-6 col-12 mb-4" *ngFor="let lugar of imagenes.slice(-4)">
        <div class="card h-100">
            <img class="card-img-top img-fluid" [src]="lugar.ruta" [alt]="lugar.nombre">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title text-center">{{ lugar.nombre }}</h5>
                <div class="d-flex justify-content-center align-items-center flex-grow-1 star-container">
                    <div class="star-rating">
                        <span class="star-filled"></span>
                        <span class="star-filled"></span>
                        <span class="star-filled"></span>
                        <span class="star-filled"></span>
                        <span class="star-filled"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-start align-items-center me-2">
                    <span class="text-decoration-line-through">$1000</span>
                </div>
                <p class="card-text text-center">Precio: {{ lugar.precio }}</p>
                <button class="btn btn-primary align-self-center mb-2" (click)="verOferta(lugar.nombre,lugar.descripcion,lugar.precio,lugar.ruta,lugar.latitud,lugar.longitud,lugar.id,lugar.nombreCategoria,lugar.idCategoria)">Ver oferta</button>
            </div>
        </div>
    </div>
</div>
</div>                       