<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="container mt-5" *ngIf="errorMessage">
            <section
            *ngIf="errorMessage === 'El correo electrónico ingresado no está registrado.' || errorMessage  'Error al enviar el correo electrónico de restablecimiento de contraseña.'"
            class="alert alert-danger"
            role="alert"
          >
            {{ errorMessage }}
          </section>
          
          <section
            *ngIf="succesfullMessage === 'Correo electrónico de restablecimiento de contraseña enviado.'"
            class="alert alert-succes"
            role="alert"
          >
            {{ succesfullMessage }}
          </section>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4 mt-3 text-center">Restablecer Contraseña</h2>
                    <form (submit)="sendPasswordResetEmail()">
                        <div class="mb-3 row">
                            <div class="col">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary">Enviar correo electrónico de restablecimiento de contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
