<footer style="background-color: #3b5998; color: white; padding: 20px;">
    <div class="container">
        <div class="row text-center">
            <!-- Email -->
            <div class="col-md-4 mb-3">
                <a href="mailto:tomaslautarorosa@gmail.com" style="text-decoration: none; color: white;">
                    <i class="bi bi-envelope-fill"></i> tomaslautarorosa&#64;gmail.com
                </a>
            </div>
            <!-- Instagram -->
            <div class="col-md-4 mb-3">
                <a href="https://instagram.com/tomirrrrrr" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: white;">
                    <i class="bi bi-instagram"></i> &#64;tomirrrrrr
                </a>
            </div>
            <!-- Derechos de autor -->
            <div class="col-md-4">
                <p style="margin-bottom: 0;">
                    Todos los derechos reservados tomirDev &#174;
                    <i class="bi bi-registered"></i>
                </p>
            </div>
        </div>
    </div>
</footer>
