.button-with-image {
  width: 100px; /* Ancho ajustado según tus necesidades */
  height: auto; /* Altura automática según el contenido */
  overflow: hidden;
  cursor: pointer;
  border: none;
  background: none;
}
body
{
  margin: 0;
  padding: 0;
}
.button-with-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.user-buttons {
  text-align: right;
}

.search-bar {
  position: relative; /* Para establecer un contexto de posición */
}
.search-results {
  position: absolute; /* Cambiado a absolute para posicionar de forma absoluta en relación con el contenedor padre */
  top: calc(100% + 5px); /* Posiciona el contenedor justo debajo de la barra de búsqueda, con un espacio de 5px */
  left: 0;
  width: 100%; /* Ajusta el ancho al 100% */
  max-height: 20rem; /* Establece una altura máxima para el contenedor */
  overflow-y: auto; /* Agrega desplazamiento vertical si hay muchos resultados */
  border: 1px solid; /* Borde del contenedor */
  border-top: none; /* Elimina el borde superior para que no se vea doble */
  z-index: 1000; /* Asegura que el contenedor esté en la parte superior */
  cursor: pointer; /* Cambia el cursor cuando pasa sobre el elemento */
  padding: 10px; /* Espaciado interior para mejorar la apariencia */
  border-bottom: 1px solid #ccc; /* Línea divisoria entre resultados */
}
.search-result {
  display: flex; /* Usa flexbox para alinear los elementos */
  padding: 5px; /* Espaciado interno reducido */
  border-bottom: 1px solid; /* Borde inferior entre resultados */
  background-color: #292b2c;
}
.search-result:hover {
  background-color: #18bc9c; /* Cambia el color de fondo */
}
.search-result-image {
  margin-right: 10px; /* Espacio entre la imagen y el nombre */
}

.search-result-details {
  flex-grow: 1; /* Hace que el nombre del lugar ocupe todo el espacio disponible */
}

.resultado-imagen {
  max-width: 50px; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

.register-btn,
.login-btn {
    width: auto;
    max-width: none;
    white-space: nowrap;
    overflow: visible;
    font-size: 14px;
    margin-left: 5px; 
    margin-right: 5px; 
}

.buttons-container {
  display: flex; 
  margin-right: 300px; 
}

.profile-button,
.ticket-button {
  width: auto;
  max-width: none;
  white-space: nowrap;
  margin-left: 5px; 
  margin-right: 20px; 
  font-size: 20px;
}


.profile-button {
  position: relative;  
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top:100px;
  right: 123px;
}

.menu.show {
  display: flex;
}

.ticket-info {
  display: flex;
  align-items: center;
}

.ticket-icon {
  font-size: 1rem; 
  margin-right: 5px; 
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .navbar .container-fluid {
    width: 100vw; 
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative; 
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0.5rem;
    position: relative; 
  }

  .navbar .row:first-child .col-md-2:first-child {
    align-self: flex-start;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .gira-gana-text {
    position: absolute; 
    top: 17%; 
    left: 10px; 
    margin: 0; 
  }

  .search-bar {
    width: auto; /* Cambiamos el ancho a auto */
    margin-top: 0.5rem; /* Ajustamos el margen superior */
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
  }
  .search-bar input {
    width: 100%;
  }

  .category-buttons {
    display: none !important;
  }
  
  .profile-button {
    margin-right: -0.03rem;
  }

  .profile-button,
  .ticket-info {
    font-size: 0.75rem; 
    padding: 0.25rem 0.5rem; 
  }

  .ticket-info {
    display: flex;
    align-items: center;
    margin-left: 0.25rem; 
  }

  .ticket-icon {
    font-size: 1rem; 
  }

  .ticket-count {
    font-size: 0.75rem; 
    margin-left: 0.01rem; 
  }

  .navbar-toggler-icon {
    font-size: 1.5rem; 
  }
  
  .navbar-collapse {
    position: absolute; 
    top: 100%; 
    right: 0; 
    background-color: white; 
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .buttons-container {
    position: absolute;
    right: 10px; 
    top: 0;
    bottom: 45%;
    margin: auto 0; 
    display: flex;
    align-items: center;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .menu-button-container {
    position: absolute; /* Establecer el posicionamiento absoluto */
    top: 25px; /* Alinear en la parte superior del contenedor padre */
    right: 0; /* Alinear a la derecha del contenedor padre */
    margin-top: 2.1rem; /* Ajustar el margen superior según sea necesario */
    margin-right: 300px; /* Ajustar el margen derecho según sea necesario */
  }
  .menu-button {
    font-size: 0.9rem;
  }

  .offcanvas {
    width: 250px;
  }

  .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
  }

  .offcanvas-body .btn {
    margin-bottom: 10px;
  }
}