<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/dist/css/bootstrap-icons.min.css" rel="stylesheet">

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between">
        <button class="button-with-image" (click)="navigateTos('inicio')">
            <img src="./assets/images/gocupon-logo.png" alt="logo">
        </button>
        <div class="d-flex align-items-center">
            <button class="btn btn-primary" (click)="navigateTos('register')">
                <i class="bi bi-person"></i> Registrarse
            </button>
            <button class="btn btn-primary ms-1" (click)="navigateTos('login')">
                <i class="bi bi-door-open"></i> Iniciar Sesión
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-primary" (click)="navigateTos('gastronomia')">Gastronomía</button>
        <button class="btn btn-primary" (click)="navigateTos('supermercado')">Supermercado</button>
        <button class="btn btn-primary" (click)="navigateTos('escapadas')">Escapadas y Hoteles</button>
        <button class="btn btn-primary" (click)="navigateTos('cine')">Cine</button>
        <button class="btn btn-primary" (click)="navigateTos('vehiculos')">Vehículos</button>
        <button class="btn btn-primary" (click)="navigateTos('teatro')">Teatro</button>
        <button class="btn btn-primary" (click)="navigateTos('salud')">Salud</button>
        <button class="btn btn-primary" (click)="navigateTos('estetica')">Estética</button>
        <button class="btn btn-primary" (click)="navigateTos('entretenimiento')">Entretenimiento</button>
    </div>
    
