<app-popup></app-popup>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid mt-4">
    <div class="row justify-content-center align-items-center">
      <!-- Logo y botón de inicio -->
      <div class="col-md-2 logo-container">
        <button class="button-with-image navbar-brand" (click)="navigateTos('inicio')">
          <img src="./assets/images/gocupon-logo.png" alt="logo" />
        </button>
        <button class="btn btn-primary btn-sm gira-gana-text" (click)="openWheel()">
          Gira y gana!
        </button>
      </div>
      <!-- Botón de menú (visible solo en pantallas pequeñas) -->
      <div class="d-md-none col-2 menu-button-container">
        <button class="btn btn-outline-light menu-button" (click)="toggleCategoriesMenu()">
          <i class="bi bi-list"></i>
        </button>
      </div>
      <!-- Barra de búsqueda -->
      <div class="col-md-8 order-md-1 search-bar text-center">
        <input
          type="text"
          class="form-control text-center"
          placeholder="Buscar cupones..."
          [(ngModel)]="terminoBusqueda"
          (input)="filtrarLugares()"
        />
        <div class="search-results" *ngIf="resultadosBusqueda.length > 0">
          <div
            *ngFor="let lugar of resultadosBusqueda"
            class="search-result"
            (click)="verDetalles(lugar.id)"
          >
            <!-- Imagen del lugar -->
            <div class="search-result-image">
              <img
                src="{{ lugar.ruta }}"
                alt="{{ lugar.nombre }}"
                class="img-fluid resultado-imagen"
              />
            </div>
            <!-- Nombre del lugar -->
            <div class="search-result-details">
              <p>{{ lugar.nombre }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCategoriesMenu" aria-labelledby="offCanvasCategoriesMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasMenuLabel">Categorías</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('gastronomia')">Gastronomía</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('supermercado')">Supermercado</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('cine')">Cine</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('vehiculos')">Vehículos</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('teatro')">Teatro</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('escapadas')">Hoteles</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('salud')">Salud</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('estetica')">Estética</button>
          <button class="btn btn-primary btn-sm m-3" (click)="navigateTos('entretenimiento')">Entretenimiento</button>
        </div>
      </div>
      <!-- Botones de categorías (ocultos en pantallas pequeñas) -->
      <div class="col-md-6 order-md-2 category-buttons justify-content-center">
        <div class="row mt-2">
          <div class="col-md-12 d-flex justify-content-between">
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('gastronomia')"
            >
              Gastronomía
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('supermercado')"
            >
              Supermercado
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('cine')"
            >
              Cine
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('vehiculos')"
            >
              Vehículos
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('teatro')"
            >
              Teatro
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('escapadas')"
            >
              Hoteles
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('salud')"
            >
              Salud
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('estetica')"
            >
              Estética
            </button>
            <button
              class="btn btn-primary btn-sm"
              (click)="navigateTos('entretenimiento')"
            >
              Entretenimiento
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2 order-md-3 d-flex pe-4" style="margin-left: auto;">
        <!-- Botón de Registrarse -->
        <button
          *ngIf="!(isUserLoggedIn$ | async)"
          class="btn btn-success btn-sm me-2 register-btn"
          (click)="navigateTos('register')"
        >
          <i class="bi bi-person"></i> Registrarse
        </button>

        <!-- Botón de Iniciar Sesión -->
        <button
          *ngIf="!(isUserLoggedIn$ | async)"
          class="btn btn-success btn-sm login-btn"
          (click)="openPopup()"
        >
          <i class="bi bi-door-open"></i> Iniciar Sesión
        </button>

        <!-- Contenedor de botones de perfil y ticket -->
        <div *ngIf="(isUserLoggedIn$ | async)" class="buttons-container">
          <!-- Botón de Perfil -->
          <button
            class="btn btn-success btn-sm profile-button"
            (click)="toggleMenu()"
          >
            <i class="bi bi-person"></i>
          </button>
          <!-- Menú Hamburguesa -->
          <div class="menu bg-success" [ngClass]="{ 'show': isMenuOpen }">
            <p class="greeting mr-3">¡Hola {{ nombreUsuario$ | async }}!</p>
            <button class="btn btn-primary menu-item mb-2" (click)="navigateTos('mis-datos')">Mis datos</button>
            <button class="btn btn-primary menu-item mb-2" (click)="navigateTos('mis-cupones')">Mis cupones</button>
            <button class="btn btn-primary menu-item" (click)="logout()">Cerrar sesión</button>
          </div>
          <!-- Logo ticket + cantTickets -->
          <div class="ticket-info">
            <i class="bi bi-ticket ticket-icon"></i>
            <span class="ticket-count" *ngIf="(cantTickets$ | async) !== null">{{ cantTickets$ | async }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<section
  *ngIf="mensajeLogout === '¡Hasta luego!'"
  class="alert alert-dismissible alert-light text-center"
  role="alert"
>
  {{ mensajeLogout }}
</section>
