.button-with-image {
  width: 100px; /* Ancho ajustado según tus necesidades */
  height: auto; /* Altura automática según el contenido */
  overflow: hidden;
  cursor: pointer;
  border: none;
  background: none;
}
body
{
  margin: 0;
  padding: 0;
}
.button-with-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.user-buttons {
  text-align: right;
}
.search-bar {
  position: relative; /* Para establecer un contexto de posición */
}
.search-results {
  position: absolute; /* Cambiado a absolute para posicionar de forma absoluta en relación con el contenedor padre */
  top: calc(100% + 5px); /* Posiciona el contenedor justo debajo de la barra de búsqueda, con un espacio de 5px */
  left: 0;
  width: 100%; /* Ajusta el ancho al 100% */
  max-height: 20rem; /* Establece una altura máxima para el contenedor */
  overflow-y: auto; /* Agrega desplazamiento vertical si hay muchos resultados */
  border: 1px solid; /* Borde del contenedor */
  border-top: none; /* Elimina el borde superior para que no se vea doble */
  z-index: 1000; /* Asegura que el contenedor esté en la parte superior */
  cursor: pointer; /* Cambia el cursor cuando pasa sobre el elemento */
  padding: 10px; /* Espaciado interior para mejorar la apariencia */
  border-bottom: 1px solid #ccc; /* Línea divisoria entre resultados */
}
.search-result {
  display: flex; /* Usa flexbox para alinear los elementos */
  padding: 5px; /* Espaciado interno reducido */
  border-bottom: 1px solid; /* Borde inferior entre resultados */
  background-color: #292b2c;
}
.search-result:hover {
  background-color: #18bc9c; /* Cambia el color de fondo */
}
.search-result-image {
  margin-right: 10px; /* Espacio entre la imagen y el nombre */
}

.search-result-details {
  flex-grow: 1; /* Hace que el nombre del lugar ocupe todo el espacio disponible */
}

.resultado-imagen {
  max-width: 50px; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}
.register-btn,
.login-btn {
    width: auto;
    max-width: none;
    white-space: nowrap;
    overflow: visible;
    font-size: 14px;
    margin-left: 5px; /* Ajusta el margen izquierdo según sea necesario */
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
}
.buttons-container {
  display: flex; /* Mostrar los botones en línea */
  margin-right: 300px; /* Ajustar el margen izquierdo del contenedor */
}

.profile-button,
.ticket-button {
  width: auto;
  max-width: none;
  white-space: nowrap;
  margin-left: 5px; /* Ajustar el margen izquierdo de los botones */
  margin-right: 20px; /* Ajustar el margen derecho de los botones */
  font-size: 20px;
}
.profile-button {
  position: relative; /* Para que el menú se posicione correctamente con respecto al botón de perfil */
}
.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1000; /* Asegura que el menú esté por encima del resto del contenido */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top:100px;
  right: 123px;
}
.menu.show {
  display: flex;
}