.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
  }
  
  .content {
    text-align: center;
  }
  
