.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  position: relative; /* Asegura que los elementos hijos se posicionen relativamente al contenedor */
}

.wheel {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  border: 5px solid #ccc;
}

.wheel.spinning {
  animation: rotateWheel 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.wheel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

.wheel-segment {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
}

.segment-value {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 0 0;
  font-size: 18px;
  color: white;
  z-index: 1;
}

@keyframes rotateWheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(var(--random-degrees, 0deg)); /* Usar variable CSS */
  }
}

/* Estilos para el marcador rojo */
.marker {
  position: absolute;
  top: -5px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red; /* Apunta hacia abajo */
  z-index: 10;
  transform: translateX(-50%) translateY(-10px); /* Asegura que el marcador esté centrado */
}